.modal-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-height: 80vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 #4c4c4c;
  padding: 20px;
  overflow-y: auto;
  z-index: 6;
}

.modal-btn-area {
  display: flex;
  justify-content: center;
}
