/*
=================
CONTAINERS
=================
*/

.transaction-window {
  margin: 0 10px 0 10px;
  border-radius: 12px;
  padding: 15px;
}

.transaction-feed {
  max-height: 60vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*
=================
HEADER AREA
=================
*/

.select-all-area {
  height: 15px;
  margin-bottom: 15px;
}

#select-all-input {
  cursor: pointer;
}

/*
=================
TRANSACTIONS
=================
*/

.transaction {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 0 2px 5px 0;
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 0 0.5px #f1f2f1;
  color: #464b46;
}

.transaction > input {
  cursor: pointer;
}

.txn-date {
  color: gray;
  margin-right: 20px;
  font-size: 12px;
}

.txn-amt {
  width: 100px;
  text-align: center;
  margin-right: 5px;
  font-size: 17px;
}

.txn-details {
  font-size: 12px;
}

.txn-acct {
  display: flex;
}

.warning-symbol {
  display: flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  min-width: 15px;
  border: 1px solid red;
  font-size: 8px;
  color: red;
  font-weight: bold;
  margin: 0 5px;
}

.warning-symbol-text {
  visibility: hidden;
  z-index: 1;

  position: absolute;
  bottom: 100%;
  right: 0;
  width: 170px;

  background-color: #444;
  color: white;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.warning-symbol:hover .warning-symbol-text {
  visibility: visible;
}

.more-btn {
  font: inherit;
  color: #464b46;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

.more-btn:hover {
  cursor: pointer;
}

.more-btn:focus {
  outline: none;
}
