/*
=================
CONTAINERS
=================
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #464b46;
  /* background-color: rgb(250, 250, 250); */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  letter-spacing: 0.1px;
}

#content-container {
  padding: 10px 40px;
  align-items: center;
}

/*
=================
CONTENT
=================
*/

header {
  margin-bottom: 15px;
}

.subtitle, #privacy-header {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
}

.priv-section-header {
  text-align: center;
}

.description {
  text-align: justify;
}

.description, #privacy-policy-text {
  width: 65%;
  max-width: 950px;
  min-width: 200px;
  margin: 10px;
}

/* .description-tile {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -1px -1px 0 0 lightgray;
  width: 60%;
  max-width: 900px;
  min-width: 200px;
  margin: 10px;
} */

@media (max-width: 880px) {
  .description, #privacy-policy-text {
    width: 680px;
  }
  /* .description-tile {
    width: 630px;
  } */
}

@media (max-width: 770px) {
  .description, #privacy-policy-text {
    width: 95%;
  }
  /* .description-tile {
    width: 90%;
  } */
}

@media (max-width: 450px) {
  .description, #privacy-policy-text {
    text-align: unset;
  }
}

.privacy-policy-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #eee;
  margin: 40px 0 -10px 0;
  padding: 40px;
  border-top: 1px solid lightgray;
  width: 100vw;
}

.description > li > ul {
  margin: 20px 0 10px 0;
}

#privacy-policy-text {
  align-items: center;
}

.tagline {
  margin: 30px 0 0 0;
  width: 100%;
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 3px 11px lightgray;
}

li {
  margin-bottom: 20px;
}

#shared-expense-img {
  margin: 10px 0 10px 0;
}

/*
=================
BUTTONS/LINKS
=================
*/

.update-btn {
  background-color: #11518c;
  color: white;
  border-radius: 12px;
  margin: 0 10px 0 10px;
  font-size: 14px;
  border: 1px solid white;
  box-shadow: 0 1px 2px 0 #515852;
  text-decoration: none;
  padding: 7px 15px;
  margin: 10px;
  box-sizing: unset;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.link-btn {
  margin-bottom: 20px;
  background: none;
  border: none;
  text-decoration: underline;
  color: #464b46;
  font-size: 12px;
}

.link-btn:hover, .link-btn:visited:hover {
  cursor: pointer;
  color: blue;
}

.link-btn:visited {
  color: #464b46;
}

#priv-pol-btn {
  display: none;
}

/*
=================
UTILITY
=================
*/

.divider {
  box-sizing: border-box;
  border-top: 1px solid lightgray;
  margin: 70px 0;
  width: 70%;
  min-width: 700px;
}

@media (max-width: 770px) {
  .divider {
    width: 100%;
    min-width: unset;
  }
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
