/*
==============
CONTAINERS
==============
*/

#account-selector-container {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
==============
SECTIONS
==============
*/

#account-selector-area {
  display: flex;
  flex-direction: column;
}

/*
==============
TAG AREAS
==============
*/

#bank-tags {
  margin-bottom: 40px;
}

#cat-tags {
  margin-bottom: 40px;
}

#bank-tags > p, #cat-tags > p {
  margin-bottom: 20px;
}

/*
==============
TAGS
==============
*/

.acct-btn, .cat-btn {
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 0 0.5px #c9cdd2;
  margin: 3px;
  color: #464b46;
  padding: 4px 8px 4px 8px;
  font-size: 12px;
}

.acct-btn:hover, .cat-btn:hover {
  cursor: pointer;
  background-color: #5183b1;
  color: white;
}

.acct-btn:focus, .cat-btn:focus {
  outline: none;
}

.active-btn {
  background-color: #2f73b3;
  box-shadow: 0 1px 0 0.5px #395066;
  color: white;
  font-weight: 600;
  text-shadow: 0 0 2px #666;
  padding: 4px 7px 4px 7px;
}

.active-btn:hover {
  background-color: #0061bd;
  color: white;
}

/*
==============
DROPDOWN AREA
==============
*/

#split-option-area {
  margin-bottom: 40px;
}

#split-option-area > p {
  margin-bottom: 20px;
}
