/*
=================
GENERAL
=================
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #464b46;
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  letter-spacing: 0.1px;
}

input, select {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #464b46;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
=================
CONTAINERS
=================
*/

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-container {
  background-color: white;
  box-shadow: 0 0 3px 0 #9298a2;
  max-width: 1290px;
  border-radius: 12px;
  padding: 50px 75px 50px 75px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
=================
HEADERS
=================
*/

.section-header {
  font-size: 25px;
  margin: 0 0 50px 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
}

/*
=================
DATE RANGE AREAS
=================
*/

#date-range-area > p {
  margin: 0 0 20px 0;
}

#date-range-area > form > label > input {
  margin: 0 10px 0 10px;
}

/*
=================
TRANSACTION AREA
=================
*/

#transaction-container {
  border-radius: 12px;
  max-height: 92vh;
}

#transaction-area {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
}

/*
=================
FOOTER
=================
*/

#split-btn-area > form > input {
  margin: 10px;
}

.caution-text {
  font-style: italic;
  font-size: 10px;
}

/*
=================
BUTTONS
=================
*/

.update-btn {
  background-color: #11518c;
  color: white;
  border-radius: 8px;
  height: 25px;
  margin: 0 10px 0 10px;
  font-size: 14px;
  border: 1px solid white;
  box-shadow: 0 1px 2px 0 #515852;
  box-sizing: unset;
  padding: 2px 15px;
  font-weight: 400;
}

.update-btn:hover,
.clickable:hover {
  cursor: pointer;
  background-color: lightgray;
}

.update-btn:focus {
  outline: none;
}

.update-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#update-txn-btn {
  margin-top: 20px;
}

/*
=================
UTILITY
=================
*/

.divider {
  border-top: 1px solid lightgray;
  margin: 10px 2px 10px 2px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
