#confirmation {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 15vw;
  border-radius: 12px;
  background-color: #9cacbb;
  opacity: 95%;
  box-shadow: 0 0 5px 0 #4c4c4c;
  text-shadow: 0 0 2px #a9a3a3;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  animation-name: fade-out;
  -webkit-animation-name: fade-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#confirmation-container {
  overflow: hidden;
  animation-name: condense;
  -webkit-animation-name: condense;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes condense {
  to {
    height: 0;
    font-size: 0;
    padding: 0;
  }
}

@-webkit-keyframes condense {
  to {
    height: 0;
    font-size: 0;
    padding: 0;
  }
}