header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  background-color: #2f73b3;
  margin: 0;
  margin-bottom: 50px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

header > div {
  align-items: center;
}

header > div > h1 {
  margin-right: 10px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0 1px 1px #545353;
}

header > #nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

header > #nav-container > button,
header > #nav-container > a,
header > #nav-container > a:visited
{
  margin: 0;
  padding: 10px;
  color: white;
}

#works-with-ynab-img {
  /* width: 196px;
  height: 78px; */
  width: 144.07px;
  height: 57.33px;
}

.small-divider {
  border-top: 1px solid lightgray;
  margin: 20px 2px 20px 2px;
  width: 100%;
  padding: 0 10px 0 10px;
}

.menu-link {
  text-decoration: none;
  color: #464b46;
}

.menu-link:hover, .menu-link:visited:hover {
  color: #2f73b3;
}

.menu-link:visited {
  color: #464b46;
}

.bm-item-list > #priv-pol-btn {
  appearance: none;
  text-rendering: inherit;
  text-align: left;
  align-items: unset;
  background: none;
  font: inherit;
  padding: unset;
  border: none;
}

.bm-item-list > #priv-pol-btn:hover {
  cursor: pointer;
}