#nav-container {
  margin-bottom: 15px;
}

.link-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-rendering: unset;
  text-align: left;
  align-items: unset;
  cursor: pointer;
  font: unset;
  box-sizing: unset;
  writing-mode: unset;
  -webkit-writing-mode: unset;
  letter-spacing: unset;
  word-spacing: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0 10px 0 10px;
  text-decoration: underline;
  color: #464b46;
  font-size: 12px;
}

.link-btn:hover, .link-btn:visited:hover {
  cursor: pointer;
  color: blue;
}

.link-btn:visited {
  color: #464b46;
}
