#privacy-header {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 3px 11px lightgray;
}

.priv-section-header {
  font-weight: bold;
  text-shadow: 0px 3px 11px lightgray;
}

#privacy-policy-text {
  text-shadow: 0px 2px 13px lightgray;
}