/*
=================
CONTAINERS
=================
*/

.transaction-window {
  margin: 0 10px 0 10px;
  border-radius: 12px;
  padding: 15px;
}

.transaction-feed {
  max-height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*
=================
HEADER AREA
=================
*/

.window-title {
  height: 40px;
}

.select-all-area {
  height: 15px;
  margin-bottom: 15px;
}

/*
=================
TRANSACTIONS
=================
*/

.transaction {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 0 2px 5px 0;
  padding: 5px;
  background-color: white;
  box-shadow: 0 1px 0 0.5px #f1f2f1;
  color: #464b46;
}

.txn-date {
  color: gray;
  margin-right: 20px;
  font-size: 12px;
}

.txn-amt {
  width: 100px;
  text-align: center;
  margin-right: 5px;
  font-size: 17px;
}

.txn-details {
  font-size: 12px;
}

.warning-symbol {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: yellow;
  margin-right: 5px;
}

.validated-symbol {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}
